profiles {
    resume = true
    standard {
        docker {
            enabled = true
        }
        params {
            output = 'output'
        }
        process {
            container = 'quay.io/nhoffman/dada2-nf:v1.12-9-g39fa45b'
            executor = 'local'
        }
    }
    remote {
        params {
            output = 'output'
        }
        process {
            container = 'job-definition://quay-io-nhoffman-dada2-nf'
            executor = 'awsbatch'
            queue = 'optimal'
        }
    }
}
