// these values are superseded by contents of -params-file
params {
    min_reads = 1
    trim_left = 15
    f_trunc = 280
    r_trunc = 250
    self_consist = 'TRUE'
    output = 'output'
    sample_information: "test/sample-information.csv"
    fastq_list: "test/fastq-list.txt"
}

workDir = 's3://uwlm-personal/nkrumm/nextflow-work-dir'

executor.disableRemoteBinDir = true

process {
  scratch = "/docker_scratch"
  queue = 'ngs-queue'
  executor = 'awsbatch'
  container = 'job-definition://quay-io-nhoffman-dada2-nf'
}

aws {
      region = 'us-west-2'
      batch {
        volumes = '/docker_scratch'
        cliPath = '/home/ec2-user/miniconda/bin/aws'
      }
}
