// includeConfig 'params.nf'
includeConfig 'params-minimal.nf'

profiles {

    standard {
        resume = true  // null for no resume
        docker {
            enabled = true
        }
        params {
            output = 'output'
        }
        process {
            container = 'quay.io/nhoffman/dada2-nf:v1.12-9-g39fa45b'
            executor = 'local'
        }
    }

    hutch_aws_batch {
        resume = true
        params {
            output = 'output'
        }
        process {
            container = 'job-definition://quay-io-nhoffman-dada2-nf'
            executor = 'awsbatch'
            queue = 'optimal' // optimal, highmem, spot-test, mixed (not working?)
        }
        aws {
            batch {
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }
}
